.header {
 background-color: #11a3b0;
 font-size: 2.2rem;
 display: flex;
 justify-content: space-between;
 width: 100%;
 align-items: center;
 height: 180px;
}

.auth {
 display: flex;
 flex-direction: column;
 gap: 2rem;
 border: 1px solid white;
 box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
 padding: 1rem;
}

.container {
 padding: 4px;
 display: flex;
 justify-content: space-between;
 width: 100%;
 align-items: center;
}
